<div id="{$settings['htmlId']}" style="{ifset $settings['width'}width:{$settings['width'}}px; {/ifset}{ifset $settings['height'}height:{$settings['height'}}px; {/ifset}"></div>

<script>
    let __center = SMap.Coords.fromWGS84({$settings['center']['longitude']}, {$settings['center']['latitude']});
    let __map = new SMap(JAK.gel({$settings['htmlId']}), __center, {$settings['zoom']});
    __map.addDefaultLayer(SMap.{$settings['mapType']}).enable();
</script>
